/* #main-home--------- */
#main-home {
    width: 100%;
    height: 200vh;
    top: -100px;
    position: relative;
}

#main-home .left-curtain {
    width: 60vw;
    height: calc(100% + 100px);
    background-color: #111;
    position: relative;
}

#main-home .left-curtain .title-ment {
    top: 0;
    left: 0;
    position: absolute;

    margin-top: 400px;
    margin-left: 300px;
}

#main-home .left-curtain .title-ment h2 {
    font-family: 'Noto Serif', serif;
}

#main-home .right-curtain {
    position: absolute;
    top: 0;
    right: 0;
    width: 40vw;
    height: calc(100% + 100px);
    background-color: #111;
}


/* 툴박스 */
#tool-zone {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 8;
    opacity: 0;
    background-color: pink;
    transition: 1s;
}

#tool-zone.on {
    opacity: 1;
    transition: 1s;
}

#tool-zone .container {
    position: relative;
}

#tool-zone .container .tool-wrap {
    position: absolute;
    width: 50px;
    height: 186px;
    right: 50px;
    bottom: 50px;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#tool-zone .container .tool-wrap>li {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tool-zone .container .tool-wrap>li a {
    width: 40px;
    height: 40px;
}

#tool-zone .container .tool-wrap>li a img {
    width: 100%;
    height: 100%;
    display: block;
}



/* 검색바 */
#tool-zone .container .tool-wrap .search {
    transition: .5s;
}

#tool-zone .container .tool-wrap .search.on {
    width: 20vw;
    border-radius: 50px;
    transition: .5s;
}

#tool-zone .container .tool-wrap .search-bar {
    position: absolute;
    top: 70px;
    right: 60px;
    opacity: 0;
    transform: translateX(200%);
    transition-duration: .5s;
}

#tool-zone .container .tool-wrap .search-bar.on {
    transition-duration: .5s;
    transform: translateX(0);
    opacity: 1;
}

#tool-zone .container .tool-wrap .search-bar input {
    width: 20vw;
    height: 50px;
    border-style: none;
    border-radius: 50px;
    padding-left: 30px;
}

/* 블러필터 */
.blur-filter {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: calc(100vh + 200px);
    backdrop-filter: blur(10px);
    /* filter: blur(5px); */
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
}

.main-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    /* line-height: 200px; */
    background-color: rgba(0, 0, 0, 0.5);
    /* filter: blur(5px); */
    color: #fff;
    text-align: center;
    /* z-index: -1; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  공연 */
#show {
    width: 100%;
    /* 101px은 .main-title의 높이값임 */
    height: calc(100vh + 200px);
    padding-top: 200px;

    display: flex;
    align-items: center;
    position: relative;
}


#show .swiper {
    width: 80%;
    height: 80%;
}

/* #show .swiper .swiper-wrapper {}

#show .swiper .swiper-wrapper .swiper-slide {} */

#show .swiper .swiper-wrapper .swiper-slide img {
    width: 100%;
}



/* 전시 */
#exhibition {
    width: 100%;
    /* 101px은 .main-title의 높이값임 */
    height: calc(280vh + 200px);
    padding-top: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#exhibition>.blur-filter {
    height: calc(280vh + 400px);
}


/* 전시 안내 파트 시작 */
#exhibition .ex-gallery {
    width: 80%;
    height: 240vh;
    position: relative;
}

#exhibition .ex-gallery .imgbox {
    position: absolute;
    width: 46vw;
    height: 50vh;

    display: flex;


    color: #000;
    background-color: #fff;
}

/* #exhibition .ex-gallery .imgbox:first-child {
    margin-top: 4%;
} */

#exhibition .ex-gallery .imgbox:nth-child(1) {
    top: -2%;
}

#exhibition .ex-gallery .imgbox:nth-child(2) {
    top: 26%;
}

#exhibition .ex-gallery .imgbox:nth-child(3) {
    top: 54%;
}

#exhibition .ex-gallery .imgbox:nth-child(4) {
    top: 82%;
}


#exhibition .ex-gallery .img-1 {
    top: 0;
    left: 0;
}

#exhibition .ex-gallery .img-2 {
    right: 0;
}

#exhibition .ex-gallery .img-3 {
    left: 0;
}

#exhibition .ex-gallery .img-4 {
    right: 0;
}

#exhibition .ex-gallery .img-odd {
    left: 10%;
}


#exhibition .ex-gallery .img-even {
    right: 10%;
    display: flex;
    flex-direction: row-reverse;
}

/* 글씨 박스 */
#exhibition .ex-gallery .ex-info {
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow: hidden;
}

#exhibition .ex-gallery .ex-info2,
#exhibition .ex-gallery .ex-info4 {
    width: 100%;
    height: 100%;
    padding: 30px;
}

/* 전시 박스 각 글씨 */
.eTl {
    margin-left: 4%;
    margin-top: 10px;
    font-size: 30px;
}

.eP1 {
    margin-left: 4%;
    margin-top: 10%;
    font-size: 20px;
    font-weight: bold;
}

.eP2 {
    margin-left: 4%;
    margin-top: 10%;
    font-size: 18px;
}

.eP3 {
    margin-left: 4%;
    margin-top: 10px;
    font-size: 18px;
}

/* 전시 박스 버튼들 */
.exBtn {
    margin-top: 16%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.exBtn>a {
    padding: 8px 30px;
    font-size: 20px;
    font-weight: bold;
}

.exBtn .exA1 {
    border: 2px solid #921d1dd3;
    background-color: #fff;
}

.exBtn .exA1:hover {
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    color: #fff;
}

.exBtn .exA2 {
    background-color: #921D1D;
    border: 2px solid #921D1D;
    color: #fff;
}

.exBtn .exA2:hover {
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
}

/* 전시 안내 파트 끝 */


/* 대관안내 */
#rental {
    width: 100%;
    /* 101px은 .main-title의 높이값임 */
    height: calc(100vh + 200px);
    /* padding-top: 200px; */

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* z-index: 999; */
}

#rental>.main-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    /* line-height: 200px; */
    background-color: rgba(0, 0, 0, 0.5);
    /* filter: blur(5px); */
    color: #fff;
    text-align: center;
    /* z-index: -1; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#rental>.main-title h1 {
    font-weight: 700;
    font-size: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
}

#slider {
    position: relative;
    width: 30%;
    height: 30vw;
    margin: 150px auto;
    font-family: 'Helvetica Neue', sans-serif;
    perspective: 1400px;
    transform-style: preserve-3d;
}

input[type=radio] {
    position: relative;
    top: 108%;
    left: 60%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    opacity: 0.4;
    transform: translateX(-83px);
    cursor: pointer;
    display: none;
}


input[type=radio]:nth-child(3) {
    margin-right: 0px;
    display: none;
}

input[type=radio]:checked {
    opacity: 0;
    display: none;
}


#slider label,
#slider label img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
    font-size: 70px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
}


/* Slider Functionality */

/* Active Slide */
#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3 {
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
    transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide1 {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    transform: translate3d(70%, 0, -100px);
}

/* Previous Slide */
#s1:checked~#slide3,
#s2:checked~#slide1,
#s3:checked~#slide2 {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    transform: translate3d(-70%, 0, -100px);
}

.click-modal {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6)
}

.click-modal .rental-detail-opera {
    background: #fff;
    color: black;
    border-radius: 5px;
}

.click-modal .rental-detail-concert {
    background: #fff;
    color: black;
    border-radius: 5px;
}

.click-modal .rental-detail-ensemble {
    background: #fff;
    color: black;
    border-radius: 5px;
}

.click-modal>p {
    font-size: 3.5vw;
    text-align: center;
}

.click-modal span {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}




/* rental modal opera */
#rental .rental-modal-opera {
    position: fixed;
    display: none;
    width: 950px;
    height: 600px;
    background-color: #fff;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
}

#rental .rental-modal-opera.on {
    display: block;
}

#rental .rental-modal-opera h1 {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 40px;
    font-weight: 700;
    line-height: 58px;
}

#rental .rental-modal-opera #close-btn {
    position: absolute;
    right: 40px;
    top: 40px;
}

#rental .rental-modal-opera>article {
    width: 822px;
    height: 355px;

    margin-left: 50px;
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
}

#rental .rental-modal-opera>article .rental-img {
    width: 421px;
    height: 355px;
    background-image: url('../images/opera02.png');
    background-repeat: no-repeat;
    background-position: left;
}

#rental .rental-modal-opera>article .rental-info-opera {
    width: 397px;
}

#rental .rental-modal-opera>article .rental-info-opera .title {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 15px;
}

#rental .rental-modal-opera>article .rental-info-opera .sub-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 12px;
}

#rental .rental-modal-opera>article .rental-info-opera .rental-info-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
}

#rental-btn-opera {
    position: absolute;
    width: 220px;
    height: 50px;
    background: #D9D9D9;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    margin-top: 25px;
    left: 50%;
    transform: translateX(-50%);
}





/* rental modal concert */
#rental .rental-modal-concert {
    position: fixed;
    display: none;
    width: 950px;
    height: 600px;
    background-color: #fff;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
}

#rental .rental-modal-concert.on {
    display: block;
}

#rental .rental-modal-concert h1 {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 40px;
    font-weight: 700;
    line-height: 58px;
}

#rental .rental-modal-concert #close-btn {
    position: absolute;
    right: 40px;
    top: 40px;
}

#rental .rental-modal-concert>article {
    width: 822px;
    height: 355px;

    margin-left: 50px;
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
}

#rental .rental-modal-concert>article .rental-img {
    width: 421px;
    height: 355px;
    background-image: url('../images/consert02.jpeg');
    background-repeat: no-repeat;
    background-position: left;
}

#rental .rental-modal-concert>article .rental-info-concert {
    width: 397px;
}

#rental .rental-modal-concert>article .rental-info-concert .title {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 15px;
}

#rental .rental-modal-concert>article .rental-info-concert .sub-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 12px;
}

#rental .rental-modal-concert>article .rental-info-concert .rental-info-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
}

#rental-btn-concert {
    position: absolute;
    width: 220px;
    height: 50px;
    background: #D9D9D9;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    margin-top: 25px;
    left: 50%;
    transform: translateX(-50%);
}






/* rental modal ensemble */
#rental .rental-modal-ensemble {
    position: fixed;
    display: none;
    width: 950px;
    height: 600px;
    background-color: #fff;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
}

#rental .rental-modal-ensemble.on {
    display: block;
}

#rental .rental-modal-ensemble h1 {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 40px;
    font-weight: 700;
    line-height: 58px;
}

#rental .rental-modal-ensemble #close-btn {
    position: absolute;
    right: 40px;
    top: 40px;
}

#rental .rental-modal-ensemble>article {
    width: 822px;
    height: 355px;

    margin-left: 50px;
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
}

#rental .rental-modal-ensemble>article .rental-img {
    width: 421px;
    height: 355px;
    background-image: url('../images/ensemble01.jpeg');
    background-repeat: no-repeat;
    background-position: left;
}

#rental .rental-modal-ensemble>article .rental-info-ensemble {
    width: 397px;
}

#rental .rental-modal-ensemble>article .rental-info-ensemble .title {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 15px;
}

#rental .rental-modal-ensemble>article .rental-info-ensemble .sub-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 12px;
}

#rental .rental-modal-ensemble>article .rental-info-ensemble .rental-info-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
}

#rental-btn-ensemble {
    position: absolute;
    width: 220px;
    height: 50px;
    background: #D9D9D9;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    margin-top: 25px;
    left: 50%;
    transform: translateX(-50%);
}




/* info */
#info {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#info>.blur-filter {
    background-color: rgba(255, 255, 255);
}

#info .info-gallery {
    width: 90%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}

#info .info-gallery .info-wrap {
    width: 20%;
    height: 80%;
    background-color: #000;
}

#info .info-gallery .info-wrap a {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

#info .info-gallery .info-wrap a img {
    width: 100%;
    height: 100%;
}


#info .info-gallery .info-wrap a:hover img {
    transition: .5s;
    transform: scale(1.2);

}


#info .info-gallery .info-wrap a h3 {
    position: absolute;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

footer #line {
    border-bottom: 0.3px solid rgba(255, 255, 255, 0.5);
}


/* 모바일 레이아웃 */
@media only screen and (max-width: 375px) {

    /* #main-home--------- */
    #main-home .left-curtain {
        width: 100vw;
        height: 100%;
        background-color: #111;
        position: relative;
    }

    #main-home .left-curtain .title-ment {
        top: 0;
        left: 0;
        position: absolute;

        margin-top: 60vh;
        margin-left: 20px;
    }

    #main-home .left-curtain .title-ment>h1,
    #main-home .left-curtain .title-ment>h2 {
        font-size: 50px;
    }

    #main-home .right-curtain {
        display: none;
    }


    /* 툴박스 */
    #tool-zone .container .tool-wrap {
        position: absolute;
        width: 25px;
        height: 93px;
        right: 27px;
        bottom: 144px;
        /* background-color: pink; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #tool-zone .container .tool-wrap>li {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        right: 0;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #tool-zone .container .tool-wrap>li a {
        width: 17px;
        height: 17px;
    }

    #tool-zone .container .tool-wrap>li img {
        width: 17px;
        height: 17px;
    }

    /* 검색바 */
    #tool-zone .container .tool-wrap .search {
        transition: .5s;
    }

    #tool-zone .container .tool-wrap .search.on {
        width: 20vw;
        border-radius: 50px;
        transition: .5s;
    }

    #tool-zone .container .tool-wrap .search-bar {
        position: absolute;
        top: 70px;
        right: 60px;
        opacity: 0;
        transform: translateX(200%);
        transition-duration: .5s;
    }

    #tool-zone .container .tool-wrap .search-bar.on {
        transition-duration: .5s;
        transform: translateX(0);
        opacity: 1;
    }

    #tool-zone .container .tool-wrap .search-bar input {
        width: 20vw;
        height: 50px;
        border-style: none;
        border-radius: 50px;
        padding-left: 30px;
    }


    .main-title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.5);
        /* filter: blur(5px); */
        color: #fff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-title h1 {
        font-size: 30px;
    }



    /* 전시 */
    #exhibition {
        width: 100%;
        /* .main-title의 높이값임 */
        height: calc(540vh + 100px);
        padding-top: 100px;

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    #exhibition>.blur-filter {
        height: calc(540vh + 100px);
    }


    /* 전시 안내 파트 시작 */
    #exhibition .ex-gallery {
        width: 100%;
        height: 80%;
        position: relative;

        background-color: transparent;

        padding-left: 30px;
        padding-right: 30px;

        display: inline-block;
        
    }

    #exhibition .ex-gallery .imgbox {
        width: 315px;
        height: auto;

        position: absolute;
        left: 8%;

        display: flex;
        flex-direction: column;
    }

    #exhibition .ex-gallery .imgbox>img {
        width: 100%;
        top: 0;
    }

    #exhibition .ex-gallery .img-1 {
        margin-top: -220px;
    }

    #exhibition .ex-gallery .img-2 {
        margin-top: -140px;
    }

    #exhibition .ex-gallery .img-3 {
        margin-top: -100px;
    }

    #exhibition .ex-gallery .img-4 {
        margin-top: -20px;
    }


    /* 글씨 박스 */

    #exhibition .ex-gallery .ex-info {
        background-color: #fff;

        width: 100%;
        height: 58%;
        overflow: hidden;

        left: 0;
        top: 440px;
    }

    /* 전시 박스 각 글씨 */
    .ex-info {
        width: 100%;
        margin: 0;
    }


    .eTl {
        padding-top: 10%;
        margin-top: -32px;
        margin-left: 4px;

        font-size: 28px;
    }

    .eP1 {
        margin-top: 10px;
        margin-left: 4px;

        font-size: 16px;
        font-weight: bold;
    }

    .eP2 {
        margin-top: 10%;
        margin-left: 4px;

        font-size: 16px;
    }

    .eP3 {
        margin-top: 10px;
        margin-left: 4px;

        font-size: 16px;
    }

    /* 전시 박스 버튼들 */
    .exBtn {
        margin-top: 20%;

        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 2%;
    }

    .exBtn>a {
        padding: 4px 20px;
        font-size: 16px;
        font-weight: bold;
    }

    .exBtn .exA1 {
        border: 2px solid #921d1dd3;

        position: absolute;
        left: 4px;
        margin: 0;

        margin-left: 30px;
    }

    .exBtn .exA1:hover {
        background-color: var(--main-color);
        border: 2px solid var(--main-color);
        color: #fff;
    }

    .exBtn .exA2 {
        background-color: #921D1D;
        border: 2px solid #921D1D;
        color: #fff;

        position: absolute;
        right: 4px;
        margin: 0;

        margin-right: 30px;
    }

    .exBtn .exA2:hover {
        background-color: var(--main-color);
        border: 2px solid var(--main-color);
    }

    /* 전시 안내 파트 끝 */



    /* 대관안내 */
    #rental {
        width: 100%;
        /* 101px은 .main-title의 높이값임 */
        height: calc(100vh + 200px);
        /* padding-top: 200px; */

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        /* overflow: hidden; */
    }

    .click-modal>p {
        font-size: 20px;
        text-align: center;
    }

    #slider {
        position: relative;
        width: 35%;
        height: 55vh;
        margin: 150px auto;
        font-family: 'Helvetica Neue', sans-serif;
        perspective: 1400px;
        transform-style: preserve-3d;
    }

    #rental>.main-title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 130px;

        background-color: rgba(0, 0, 0, 0.5);

        color: #fff;
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;
    }


    /* rental modal */
    #rental .rental-modal {
        position: fixed;
        display: none;
        width: 313px;
        height: 550px;
        background-color: #fff;
        border-radius: 20px;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        color: #000;
        z-index: 9999;
    }

    #rental .rental-modal.on {
        display: block;
    }


    #rental .rental-modal>h1 {
        position: absolute;
        top: 30px;
        left: 33px;
        font-weight: 700;
        font-size: 20px;
    }

    #rental .rental-modal #close-btn {
        position: absolute;
        width: 30px;
        height: 30px;
        left: 263px;
        top: 20px;
    }

    #rental .rental-modal #close-btn img {
        width: 30px;
        height: 30px;
    }

    #rental .rental-modal>article {
        width: 822px;
        height: 355px;

        margin-left: 30px;
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
    }

    #rental .rental-modal>article .rental-img {
        width: 253px;
        height: 209px;
        background-image: url('../images/ensemble.png');
        background-repeat: no-repeat;
        background-position: left;
    }

    #rental .rental-modal>article .rental-info {
        width: 397px;
    }

    #rental .rental-modal>article .rental-info .title {
        display: none;
    }

    #rental .rental-modal>article .rental-info .sub-title {
        display: none;
    }

    #rental .rental-modal>article .rental-info .rental-info-text {
        display: none;
    }

    #rental .rental-modal>article .rental-info .mobile-rental-info-text {
        position: absolute;
        width: 252px;
        height: 163px;
        left: 31px;
        top: 309px;
        font-weight: 500;
        font-size: 16px;
    }

    #rental-btn {
        position: absolute;
        width: 180px;
        height: 40px;
        background: #D9D9D9;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 700;
        margin-top: 25px;
        left: 50%;
        transform: translateX(-50%);
    }


    /* info */
    #info {
        width: 100%;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }



    #info .info-gallery {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }

    #info .info-gallery .info-wrap {
        width: 100%;
        height: 25%;
        background-color: #000;
    }

    #info .info-gallery .info-wrap a {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        overflow: hidden;
    }

    #info .info-gallery .info-wrap a img {
        object-fit: cover;
    }

    #info .info-gallery .info-wrap a:hover .opacity-filter,
    #info .info-gallery .info-wrap a:hover img {
        transition: .5s;
        transform: scale(1.2);

    }

    #info .info-gallery .info-wrap a .opacity-filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #info .info-gallery .info-wrap a h3 {
        position: absolute;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.8);
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }

    footer #s-line {
        border-bottom: 0.3px solid rgba(255, 255, 255, 0.5);
        width: 330px;
        margin: 0 auto;
    }

}