@import url('reset.css');
@import url('style.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");




/* 텍스트 파트 */
.noticeT {
  overflow: hidden;

  margin-top: 100px;

  width: 100vw;
  height: 48px;
  color: #fff;

  font-size: 22px;

  background-color: #333;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noticeT>.PCOnly {
  margin-top: 16px;
  width: 100%;
  height: 48px;
  display: block;

  /* animation: name duration timing-function delay iteration-count direction fill-mode; */

  animation: movet 24s linear infinite backwards;
}

@keyframes movet {
  0% {
    transform: translateX(1600px);
  }

  100% {
    transform: translateX(-1600px);
  }
}


.noticeT>.mobileT {
  display: none;
}

.ps0 {
  margin-right: 10px;
}

.ps1 {
  margin-left: 40px;
  margin-right: 20px;
}





/* 상세 페이지 파트 */
/* 맨 위 정보 */
#detailS {
  width: 100%;
  height: 100%;

  margin-bottom: 30px;
}

.dtext {
  height: 146px;
  width: 100%;
  background-color: #fff;

  margin-bottom: 90px;
}

.topInfo {
  margin: 0 auto;
  width: 1200px;

  color: #000;

}

.topt1 {
  padding-top: 16px;
}

.topt2 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
}

.topt3 {
  padding-bottom: 16px;
}




/* 디테일 컨테이너 1 */
.detailcontainer {
  margin: 0 auto;

  width: 1440px;
  height: 100%;
}

#showinfo {
  margin: 0 auto;
  width: 1200px;
  height: 680px;
  background-color: #fff;

  display: flex;
}

.poster {
  width: 90%;

  padding: 30px;
  padding-right: 90px;
}

.btns {
  width: 380px;
  height: 50px;
  height: auto;

  margin-left: 30px;
}

.bcontainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.btns a {
  width: 180px;
  height: 50px;
  font-size: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.a1 {
  text-align: center;

  border: 2px solid #921d1dd3;

  color: #000;
}

.a1>.ht1 {
  padding-right: 12px;
}

.a1>.s1 {
  padding-right: 10px;
  color: #FF4848;
  font-weight: bold;
  margin-bottom: 2px;
}

.a1>.s2 {
  margin-bottom: 2px;
}

.a2 {
  background-color: #921D1D;
}

.a2s {
  font-size: 24px;
}


.textPart {
  position: relative;
  margin-top: 30px;
  margin-right: 30px;

  width: 100%;
  height: 528px;
}

.tpt1 {
  display: block;
  color: #000;

  font-size: 20px;
  line-height: 2.5em;
}

.tpt1-2 {
  display: none;
}

.tpt2 {
  position: absolute;

  color: #000;

  font-size: 24px;
  font-weight: bold;

  right: 20px;
  bottom: -80px;
}




/* 달력 파트 */

.icon-chevron-right>img {
  width: 32px;
  padding-bottom: 6px;
  cursor: pointer;
}

.icon-chevron-left>img {
  width: 32px;
  padding-bottom: 6px;
  cursor: pointer;
}

.exit {
  z-index: 100;
  width: 40px;
  position: absolute;
  right: 45.2%;
  bottom: 2%;
  cursor: pointer;
}


#calendar {
  display: none;
}

#calendar.on {
  display: block;
  z-index: 2;
  position: absolute;
  left: 40%;
  right: 60%;
  top: 58%;

  border-radius: 10px;
  background-color: #fff;

  /* margin-left: auto;
  margin-right: auto; */
  width: 320px;
  font-family: 'Lato', sans-serif;
}

#calendar_weekdays div {
  display: inline-block;
  vertical-align: top;
}

#calendar_content,
#calendar_weekdays,
#calendar_header {
  position: relative;
  width: 320px;
  overflow: hidden;
  float: left;
  z-index: 10;
}

#calendar_weekdays div,
#calendar_content div {
  width: 40px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  background-color: #FFFFFF;
  color: #787878;
}

#calendar_content {
  -webkit-border-radius: 0px 0px 12px 12px;
  -moz-border-radius: 0px 0px 12px 12px;
  border-radius: 0px 0px 12px 12px;
}

#calendar_content div {
  float: left;
}

#calendar_content div:hover {
  background-color: #F8F8F8;
}

#calendar_content div.blank {
  background-color: #E8E8E8;
}

#calendar_header,
#calendar_content div.today {
  zoom: 1;
  filter: alpha(opacity=70);
  opacity: 0.7;
}

#calendar_content div.today {
  color: #FFFFFF;
}

#calendar_header {
  width: 100%;
  height: 37px;
  text-align: center;
  background-color: #FF6860;
  padding: 18px 0;
  -webkit-border-radius: 12px 12px 0px 0px;
  -moz-border-radius: 12px 12px 0px 0px;
  border-radius: 12px 12px 0px 0px;
}

#calendar_header h1 {
  font-size: 1.5em;
  color: #FFFFFF;
  float: left;
  width: 70%;
}

i[class^=icon-chevron] {
  color: #FFFFFF;
  float: left;
  width: 15%;
  border-radius: 50%;
}


/* 돌아가기 */
.gb {
  display: flex;
  align-items: center;
  justify-content: center;
}

.goBack {
  background-color: #333333;
  color: #fff;
  padding: 12px 40px;

  font-size: 24px;
  font-weight: bold;

  margin-bottom: 300px;

  cursor: pointer;
}

/* 상품 설명 */
.si {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 90px;
}

.show {
  width: 1200px;
}
/* 업-다운 버튼 */
.downBtn {
  position: relative;
  width: 1200px;
  height: 50px;

  margin: 0 auto;
  margin-bottom: 30px;
}

.downB {
  width: 50px;
  height: 50px;

  position: absolute;
  right: 30px;
  cursor: pointer;
}

.downB>.downbi {
  width: 100%;
}



.upBtn {
  z-index: 1;

  position: relative;
  width: 1200px;
  height: 50px;

  margin: 0 auto;
  margin-bottom: 30px;


}

.upB {
  width: 50px;
  height: 50px;

  position: absolute;
  right: 30px;
  top: 100vh;
  cursor: pointer;

  background-color: #000;
  border-radius: 50%;
  box-shadow: 0px 2px 4px #000;
}

.upB>.upbi {
  width: 100%;
}

footer #line {
  border-bottom: 0.3px solid rgba(255, 255, 255, 0.5);
}




/* 모바일 레이아웃 */
@media only screen and (max-width: 375px) {




  /* 텍스트 파트 */
  .noticeT {
    margin-top: var(--header-height-m);
    margin-bottom: 30px;

    width: 100%;
    height: 44px;
    color: #fff;

    font-size: 18px;
    background-color: #333;
  }

  .noticeT>.PCOnly {
    display: none;
  }

  .noticeT>.mobileT {
    display: block;
    text-align: center;

    animation: movetM 8s linear infinite backwards;
  }

  @keyframes movetM {
    0% {
      transform: translateX(360px);
    }

    100% {
      transform: translateX(-360px);
    }
  }

  .ms1 {
    margin-right: 10px;
  }





  /* 상세 페이지 파트 */
  /* 맨 위 정보 */
  #detailS {


    width: 100%;
    height: 100%;

    margin-bottom: 60px;
  }

  .dtext {
    height: 146px;
    width: 100%;
    background-color: rgb(0, 0, 0);

    margin-bottom: 60px;
  }

  .topInfo {

    margin-left: 30px;
    width: 100%;

    color: #fff;

  }

  .topt1 {
    padding-top: 16px;
  }

  .topt2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
  }

  .topt3 {
    padding-bottom: 16px;
  }




  /* 디테일 컨테이너 1 */
  .detailcontainer {
    width: 100%;
    height: 100%;
  }

  #showinfo {
    width: 100%;
    height: 100%;
    background-color: #000;

    display: flex;
    flex-direction: column;
  }

  .poster {
    width: 100%;

    padding: 30px;
  }

  .btns {
    width: 100%;
    height: 50px;
    margin: 0;
  }

  .bcontainer {
    display: flex;
    justify-content: center;
  }

  .btns a {
    width: 140px;
    height: 50px;
    font-size: 18px;
  }

  .a1 {
    text-align: center;

    border: 2px solid #921d1dd3;

    color: #000;

    margin-right: 30px;
  }

  .a1>.ht1 {
    padding-right: 12px;
  }

  .a1>.s1 {
    padding-right: 10px;
    color: #FF4848;
    font-weight: bold;
    margin-bottom: 2px;
  }

  .a1>.s2 {
    margin-bottom: 2px;
    color: #fff;
  }

  .a2 {
    background-color: #921D1D;
  }

  .a2s {
    font-size: 18px;
  }


  .textPart {
    position: relative;
    width: 100%;
    height: 100%;

    margin: 0;

    padding: 30px;
  }

  .tpt1 {
    display: none;
  }

  .tpt1-2 {
    display: block;

    color: #fff;

    font-size: 18px;
    line-height: 2.5em;
  }

  .tpt2 {
    position: absolute;

    color: #fff;

    font-size: 24px;
    font-weight: bold;

    right: 20px;
    bottom: -20px;
  }




  /* 달력 파트 */

  .icon-chevron-right>img {
    width: 32px;
    padding-bottom: 6px;
    cursor: pointer;
  }

  .icon-chevron-left>img {
    width: 32px;
    padding-bottom: 6px;
    cursor: pointer;
  }

  .exit {
    z-index: 100;
    width: 40px;
    position: absolute;
    right: 45.2%;
    bottom: 2%;
    cursor: pointer;
  }


  #calendar {
    display: none;
  }

  #calendar.on {
    display: block;
    z-index: 2;
    position: absolute;
    left: 1.5px;
    top: 58%;

    border-radius: 10px;
    background-color: #fff;

    /* margin-left: auto;
  margin-right: auto; */
    width: 320px;
    font-family: 'Lato', sans-serif;
  }

  #calendar_weekdays div {
    display: inline-block;
    vertical-align: top;
  }

  #calendar_content,
  #calendar_weekdays,
  #calendar_header {
    position: relative;
    width: 320px;
    overflow: hidden;
    float: left;
    z-index: 10;
  }

  #calendar_weekdays div,
  #calendar_content div {
    width: 40px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    background-color: #FFFFFF;
    color: #787878;
  }

  #calendar_content {
    -webkit-border-radius: 0px 0px 12px 12px;
    -moz-border-radius: 0px 0px 12px 12px;
    border-radius: 0px 0px 12px 12px;
  }

  #calendar_content div {
    float: left;
  }

  #calendar_content div:hover {
    background-color: #F8F8F8;
  }

  #calendar_content div.blank {
    background-color: #E8E8E8;
  }

  #calendar_header,
  #calendar_content div.today {
    zoom: 1;
    filter: alpha(opacity=70);
    opacity: 0.7;
  }

  #calendar_content div.today {
    color: #FFFFFF;
  }

  #calendar_header {
    width: 100%;
    height: 37px;
    text-align: center;
    background-color: #FF6860;
    padding: 18px 0;
    -webkit-border-radius: 12px 12px 0px 0px;
    -moz-border-radius: 12px 12px 0px 0px;
    border-radius: 12px 12px 0px 0px;
  }

  #calendar_header h1 {
    font-size: 1.5em;
    color: #FFFFFF;
    float: left;
    width: 70%;
  }

  i[class^=icon-chevron] {
    color: #FFFFFF;
    float: left;
    width: 15%;
    border-radius: 50%;
  }


  /* 돌아가기 */
  .gb {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .goBack {
    background-color: #333333;
    color: #fff;
    padding: 10px 30px;

    font-size: 20px;
    font-weight: bold;

    margin-bottom: 90px;

    cursor: pointer;
  }


  /* 상품 설명 */
  .si {
    width: 375px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 90px;
  }

  .show {
    width: 100%;
  }







  /* 업-다운 버튼 */
  .downBtn {
    position: relative;
    width: 100%;
    height: 50px;

    margin: 0 auto;
    margin-bottom: 30px;
  }

  .downB {
    width: 50px;
    height: 50px;

    position: absolute;
    right: 30px;
    cursor: pointer;
  }

  .downB>.downbi {
    width: 100%;
  }



  .upBtn {
    z-index: 1;

    position: relative;
    width: 100%;
    height: 50px;

    margin: 0 auto;
    margin-bottom: 30px;
  }

  .upB {
    width: 50px;
    height: 50px;

    position: absolute;
    right: 30px;
    top: 580px;
    cursor: pointer;
  }

  .upB>.upbi {
    width: 100%;
  }

  footer #s-line {
    border-bottom: 0.3px solid rgba(255, 255, 255, 0.5);
    width: 330px;
    margin: 0 auto;
}

}